@import url('https://tropix126.github.io/BetterDiscordStuff/aurora/addons/disableExpansions.css');
@import url('https://ellexidecodes.github.io/Discord-Themes/addons/categoryNameFlair.css');
@import url("https://tropix126.github.io/BetterDiscordStuff/aurora/addons/friendGrid.css");
@import url('https://ellexidecodes.github.io/Discord-Themes/addons/userSettingsModal.css');
:root {--size: 65%;}

.guild-1EfMGQ,
.guild-1EfMGQ .guildInner-3DSoA4 a,
.iconSizeLarge-161qtT {
    height: 40px;
    width: 40px;
}

.da-containerCozy {
    background:transparent !important;
}

#app-mount .selectorSelected-1_M1WV {
    border:2px solid var(--boxcolor);
}
#app-mount .selectorSelected-1_M1WV {
    background-color:rgba(0,0,0,0.2);
}

.guildsError-3cFMtY, .da-guildsError {
    height: 40px;
    width: 40px;
}

.container-1UB9sr {
    background: rgba(0,0,0,0.5) !important;
    box-shadow: 0px 0px 5px black;
    border: none;
}

.reply-list {
    background-color:rgba(0,0,0,.55);
}

.theme-dark .markup-2BOw-j a {
    color: #FF1463;
}

.attachPopout-1n-ZKM {
    margin-left: 390px;
    background: var(--backdrop) !important;
    padding: 10px 10px 10px 10px;
    border-radius: 0px !important;
    border: 4px solid rgba(0,0,0,0.75) !important;
    background-size: cover !important;
    box-shadow: inset 0px 0px 0px 100px rgba(0,0,0,0.65);
}

.theme-dark .attachPopoutRow-KrE-f6:hover {
    background-color: rgba(0,0,0,0.25);
}

.cooldownWrapper-3joyFc {
    margin-left: 10px !important;
    padding-bottom: 10px !important;
}

.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover {
    background-color: rgba(0,0,0,0.5);
}

.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9 {
    background-color: rgba(0,0,0,0.35);
}

.theme-dark .spoilerText-3p6IlD {
    background-color: rgba(255, 30, 99, 0.2);
}

.popoutTopLeft-b5Eb3O.noArrow-3BYQ0Z {
    margin-left: 85px;
}

.popoutBottom-1YbShG.noArrow-3BYQ0Z {
    left: 325px !important;
}

.headerSpotify-zpWxgT {
    background: var(--RPheader-color);
}

.headerStreaming-2FjmGz {
    background: var(--RPheader-color);
}

.headerPlaying-j0WQBV {
    background: var(--RPheader-color) !important;
}

.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background: var(--main-color);
}